body{
	background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}
img{
	 margin-top: 20px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;

}
h1{
	 color: #333;
}
video{
	 margin-top: 20px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}